<!-- https://mdbootstrap.com/docs/standard/extended/login/ -->


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Social Media {% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <style>

        body {
            position: relative;
            font-family: 'IBM Plex Sans', sans-serif;
            margin: 0 0 0 0;
            margin-top: 50px;
            padding: 0 0 0 0;
        }

        .detail {
            margin: 10px 10px 10px 10px;
        }

        .flex-container {
            margin: 10px;
            display: flex;
            flex-wrap: wrap;
        }

        .more {
            text-decoration: none
        }

        .margin-100 {
            margin: 100px;
        }
        
        .profile-pic {
            border-radius: 50px;
            width: 50px;
            height: 50px;
        }

        .user-name {
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>
</head>
<body>

<div id="menu">
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Social Media</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link ac" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'post-list' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Users
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'users' %}">List of users</a></li>
                            <li><a class="dropdown-item" href="{% url 'user-create' %}">Create new user</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'post-list' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Posts
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'post-list' %}">List of posts</a></li>
                            <li><a class="dropdown-item" href="{% url 'post-create' %}">Create new post</a></li>
                        </ul>
                    </li>
                </ul>
                
                {% if user.is_authenticated %}
                    <img class="profile-pic" src="{{ user.image_url }}" alt="" >
                    <div class="user-name" >{{user.username}}</div>
                    <a href="{% url 'user-logout' %}">
                        <button type="button" class="btn btn-primary me-3">
                            Logout
                        </button>
                    </a>
                    
                {% else %}
                <div class="d-flex align-items-center">
                    <a href="{% url 'user-login' %}">
                        <button type="button" class="btn btn-link px-3 me-2">
                            Login
                        </button>
                    </a>
                    <a href="{% url 'user-create' %}">
                        <button type="button" class="btn btn-primary me-3">
                            Sign up
                        </button>
                    </a>
                    
                </div>
                {% endif %}

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
      </nav>
    </div>

    <div class="margin-100" >
        {% block content %}
    
        {% endblock %}
    </div>


</body>
</html>