{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    
    <title>List of posts</title>
    <style>
        
    </style>
</head>
<body>

{% block content %}
    <div>
    <h1>List of posts</h1>

    
    <div class="flex-container ">
        {% for post in posts %}
            <div class="card detail flex-container shadow mb-5 bg-body rounded" style="width: 18rem;">
                <img src="{{ post.image_url|default_if_none:'#' }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{post.title}}</h5>
                  <p class="card-text">{{ post.content|truncatechars:99 }}</p>
                  <a href="{% url 'post-detail' post.pk %}" class="btn btn-primary">Detail</a>
                </div>
              </div>
        {% endfor %}
    </div>
    </div>



{% endblock %}
</body>
</html>
